# User requested exclusions
DAVID/final_binario/hyperparameters/
DAVID/final/hyperparameters/

CLAUDE.md
DAVID/final_binario/modelos_anteriores
DAVID/final/modelos_anteriores
DAVID/final/runs/classify/hyperparameter_tuning